In [3]:
"Hello, my name is {} and I am {} years old".format("Andy", "22")

'Hello, my name is Andy and I am 22 years old'

In [4]:
"Hello, my name is {name} and I am {age} years old. Bob is also {age}".format(name="Andy", age="22")

'Hello, my name is Andy and I am 22 years old. Bob is also 22'

In [5]:
s = "Hello"

In [6]:
s[3]

'l'

In [7]:
type(s[3])

str

In [8]:
s[3:]

'lo'

In [9]:
my_list = [1,2,3,4]

In [10]:
my_list.append(5)

In [11]:
my_list

[1, 2, 3, 4, 5]

In [12]:
my_list.append('string')

In [13]:
my_list

[1, 2, 3, 4, 5, 'string']

In [14]:
my_list.append([3,4])

In [16]:
print (my_list[6][0])

3

In [17]:
my_list

[1, 2, 3, 4, 5, 'string', [3, 4]]

In [18]:
my_tuple=(1,2,3)

In [19]:
my_tuple

(1, 2, 3)

In [20]:
my_tuple[0]='hello'

TypeError: 'tuple' object does not support item assignment

In [22]:
my_tuple[1]=4

TypeError: 'tuple' object does not support item assignment

In [23]:
my_set={1,2,3}

In [24]:
my_set

{1, 2, 3}

In [25]:
my_set={1,1,2,3,4,4,4,4,4,}

In [26]:
my_set

{1, 2, 3, 4}

In [27]:
my_set.add('hey')

In [28]:
my_set

{1, 2, 3, 4, 'hey'}

In [29]:
1 > 3

False

In [30]:
1 <= 4

True

In [31]:
1 == 4

False

In [32]:
1 == 1

True

In [34]:
1 < 3 & 2 < 3

True

In [35]:
1 < 3 & 3 < 2

False

In [36]:
1 < 3 and 3 < 2

False

In [37]:
if 1 < 3:
    print ("yoo!!")

yoo!!

In [41]:
if 4 < 5:
    print ("true")
else:
    print ("false")

true

In [48]:
example_list=[1,2,3,'hello']

In [50]:
for item in example_list:
    print (type(item))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [52]:
for item in example_list:
    print (item + 1)

2
3
4

TypeError: must be str, not int

'hello' + 1

In [59]:
for x in range(0,5):
    print (x)

0
1
2
3
4

In [62]:
print (list(range(0,5)))

[0, 1, 2, 3, 4]

In [63]:
for x in range(10):
    print  (x)

0
1
2
3
4
5
6
7
8
9

In [64]:
[4**2 for x in range(3)]

[16, 16, 16]

In [67]:
out = [x**2 for x in range(3)]

In [68]:
out

[0, 1, 4]

In [69]:
def my_func(name="Default"):
    print("Hello " + name)

In [70]:
my_func("andy")

Hello andy

In [71]:
my_func()

Hello Default

In [72]:
"Hello".format("hey")

'Hello'

In [73]:
def squared(num):
    return num**2

In [74]:
inputs=[1,2,3,4,5,6]

In [75]:
map(squared, inputs)

In [76]:
list(map(squared, inputs))

[1, 4, 9, 16, 25, 36]

In [78]:
t = lambda num:num**2

In [79]:
list(map(t, inputs))

[1, 4, 9, 16, 25, 36]

In [81]:
list(map(lambda num:num**2, inputs))

[1, 4, 9, 16, 25, 36]

In [82]:
filter(lambda num:num%2, inputs)

In [84]:
list(filter(lambda num:num%3==0, inputs))

[3, 6]

In [85]:
tuples = [(1,3),(4,2)]

In [86]:
for a,b in tuples:
    print (a)

1
4